<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Tum.PDE.LanguageDSL.Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("61fae200-c141-4ff2-8cbe-535feb97831d");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
